@font-face {
    font-family: "Star4000";
    src: url("https://wsbylunv.neocities.org/Star4000.ttf") format("truetype");
}

body, html {
    margin: 0; padding: 0;
    width: 100vw; height: 100vh;
    background: black; overflow: hidden;
    font-family: "Star4000", sans-serif;
    color: white;
}

#screen { position: relative; width: 100vw; height: 100vh; }
#bg { position: absolute; width: 100%; height: 100%; object-fit: contain; z-index: 1; }

#header-area {
    position: absolute; top: 60px; left: 32%; right: 10%;
    display: flex; justify-content: space-between; z-index: 5;
}

#page-title { color: #ffff00; font-size: 34px; line-height: 0.9; text-shadow: 3px 3px 0px #000; }
#clock-box { text-align: right; font-size: 26px; text-shadow: 3px 3px 0px #000; }

/* The Data Container (Replaces the Blue Box) */
#data-container {
    position: absolute;
    top: 180px;
    left: 10%;
    right: 10%;
    z-index: 2;
}

/* Moved to the far right */
#station-name { 
    color: #ffff00; 
    font-size: 32px; 
    text-shadow: 3px 3px 0px #000; 
    text-align: right; 
    margin-bottom: 40px;
}

#main-display {
    text-align: left;
    padding-left: 5%;
}

#big-temp { font-size: 120px; text-shadow: 5px 5px 0px #000; line-height: 1; }
#cond-text { font-size: 40px; text-shadow: 3px 3px 0px #000; margin: 15px 0; }
#wind-line { font-size: 30px; text-shadow: 3px 3px 0px #000; color: #00ffff; }
#wind-val { color: white; }
